#photo-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
    gap: 10px; /* Espacement entre les images */
    max-width: 1300px; /* Largeur maximale de la galerie */
    margin: 20px auto; /* Centre la galerie horizontalement */
}

#photo-gallery div {
    float: left;
}

#load-more-photos {
    margin-left: 46%;
}

button#load-more-photos {
border: none;
font-family: 'Space Mono';
color: #000000;
background-color: #C4C4C4;
}

button#load-more-photos:hover {
    background-color: #C4C4C4; 
    font-family: 'Space Mono';
    color: #000000; 
    cursor: default;
    border: none;
}

img {
    object-fit: cover; 
    object-position: center;
    }

.photo-block {
    position: relative; /* Nécessaire pour positionner correctement l'image */
    display: inline-block;
    cursor: pointer;
    width: 100%; /* Utilise 100% de la colonne */
    height: 550px; /* Hauteur fixe pour tous les blocs de photos */
    overflow: hidden; /* Masque les débordements */
}

.photo-block img {
    display: block;
    width: 100%; 
    height: 100%;
}

.photo-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(150, 150, 150, 0.8); /* Gris foncé semi-transparent */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.photo-icon::after {
    content: '';
    background-image: url('../assets/images/icon_eye.png'); 
    background-repeat: no-repeat;
    background-position: center;
    width: 50px; 
    height: 50px; 
}

.photo-block:hover .photo-icon {
    opacity: 1;
}